.paginaperfil{
  background: #FAFAFA;
}
h2{
  font-weight: 600;
}
.titulo{
  font-size: 54px;
  margin-top: 46px;
  margin-left: 66px;
  margin-bottom: 46px;
  font-weight: Bold ;  
}


.container{
display: flex;
background: rgba(255, 255, 255, 0.8);
width: 1280;
height: 600px;
}
.perfil{
  width: 213px;
  height: 213px;
  margin-top: 66px;
  margin-left: 91px;
}
.containerdados1{
  margin-top: 62px;
  margin-left: 52px;
}
.dados1 h2{
  font-size: 40px;

}
.dados1 p{
 font-size:22px ; 
  color: #767676;
}
.dados2{
  margin-top: 39px;
  margin-bottom: 61px;
}
.dados2 h2{
  font-size: 30px;
  
}
.dados2 p{
  font-size: 16px;
  color: #3D3D3D;
}
.dados3{
  width: 400px;
}
.dados3 h2{
  font-size: 30px;
  color: #000000
}
.dados3 li{
  font-size: 14px;
  color: #1F1F1F;
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #a7a7a7;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
 

}
.containerdados2{
  margin-top: 173px;
  margin-left: 93px;
}
.containerdados2 h2{
  font-size: 30px;
  color: #000000;
}
.dados4{
  margin-bottom: 44px;
}
.dados4 img{
  width: 70px;
  height: 50px;
  margin-left: 0px;
}
.dados5 p{
  font-size: 12px;
  color: #535353;

}
.dados5 p img{
  display: inline;
}