.header{ 
  padding: 30px;
  background-color: #F94000;
}
.titulo{
  font-size: 45px;
}
.subtitulos{
  font-size: 20px;
}
.navegacao{

  display: flex;
 justify-content: space-between;
 align-items: center;
 height: 4rem;
 margin-right: 20px;
}
.navegacao2{
  display: flex;
   gap: 20px;

}