.card {
  transition: 0.3s;
  width: 320px;
  background-color: #fff;
}

.container {
  padding: 2px 16px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(99, 243, 86);
  border-radius: 50%;
  display: inline-block;
}
.foto {
  height: 125px;
  width: 125px;
  background-color: rgb(147, 147, 147);
  border-radius: 50%;
  display: inline-block;
}

.teams {
  width: 50%;
  border-top: 1px solid #c2d1d9;
  border-bottom: 1px solid #c2d1d9;
}

.techs-card li {
  display: inline-block;
  padding: 2px;
  border: 1px solid #a7a7a7;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  margin: 10px;
}

.cardNames {
  font-weight: 600;
  font-size: 22px;
  color: #2b2b3b;
}

h3 {
  font-weight: 400;
  font-size: 14px;
  color: #393939;
}

.skills {
  font-weight: 600;
  font-size: 16px;
  color: #2b2b3b;
}

button {
  width: 184px;
  padding: 10px 32px;
  border-radius: 8px;
  background-color: #07662d;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.detalhe {
  font-weight: 400;
  font-size: 14px;
  color: #464675;
}
