.card-container {
  width: 320px;
  background-color: #fff;
  transition: 0.3s;
}

.container {
  padding: 2px 16px;
}

.dot {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: rgb(99, 243, 86);
  border-radius: 50%;
}

.card-picture img {
  display: inline-block;
  width: 125px;
  height: 125px;
  background-color: rgb(147, 147, 147);
  border-radius: 50%;
  object-fit: cover;
}

.card-name {
  display: flex;
  flex-wrap: wrap;
}

.card-name h1 {
  flex-wrap: wrap;
  flex-shrink: 0;
  color: #2b2b3b;
  font-size: 22px;
  font-weight: 600;
}

.card-container h3 {
  color: #393939;
  font-size: 14px;
  font-weight: 400;
}

.card-teams {
  width: 50%;
  border-top: 1px solid #c2d1d9;
  border-bottom: 1px solid #c2d1d9;
}

.card-skills-title {
  color: #2b2b3b;
  font-size: 16px;
  font-weight: 600;
}



.card-skills-techs {
  max-height: 98px;
  min-height: 98px;
  overflow-y: hidden;
}

.card-skills-techs ul {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.card-skills-techs li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border: 1px solid #2b2b3b;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.card-skills-p {
  color: #2b2b3b;
  font-size: 16px;
  font-weight: 600;
}

.card-button {
  width: 184px;
  padding: 10px 32px;
  color: #fff;
  background-color: #07662d;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
}

.card-now {
  color: #464675;
  font-size: 14px;
  font-weight: 400;
}
