#login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2rem;
  width:601.58px ;
  margin-left: 71px;
  margin-top: -50px;

}
#login h1{
  font-weight: 600;
font-size: 30px;
color: #464675;

}
#login{
  font-weight: 400;
font-size: 18px;
color: rgba(57, 57, 57, 0.9);
}
#login label{
  font-weight: 400;
font-size: 18px;
color: rgba(57, 57, 57, 0.9);
margin-bottom: 20px;

  
}
#login form {
  width: 100%;
  max-width: 480px;
  padding: 0.5rem;
}

#login .field {
  display: block;
  margin-top: 32px;
}

#login .field input {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

#login .actions {
  text-align: center;
  margin-top: 1rem;
  background: #464675;
border-radius: 6px;
margin-top: 42px;
}
.titulo{
  font-weight: 700;
font-size: 40px;
color: #2B2B3B;
margin-top: 71px;
margin-left: 125px;
}
.titulo span{
  font-size: 60px;

}
.container45{
   display: flex;
 margin-top: 120px;
 
}
.container45 img{
  margin-left: 0px;
  width: 600px;
 
}
.batido{
  margin-top: 18px;
  text-align: center;
}
.batido a{
  color: black;
}