#home .nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d5d5d5;
  padding: 0.5rem 4rem;
  height: 15vh;
}

#home .nav .logo {
  flex: 1;
  font-size: 2rem;
  margin: 0;
  
}

#home .nav .nav-items {
  width: 40%;
  display: flex;
  justify-content: space-between;
}