#home .nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d5d5d5;
  padding: 0.5rem 4rem;
  height: 15vh;
}

#home .nav .logo {
  flex: 1;
  font-size: 2rem;
  margin: 0;
}

#home .nav .nav-items {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

#home .search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 5px;

  max-width: 1120px;
  margin: 2rem auto;
  padding: 0.5rem;
}

#home .search h1 {
  font-weight: 700;
  font-size: 84px;
  line-height: 102px;
  text-align: center;
  margin-bottom: 0.85rem;
}

#home .search h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 0.25rem;
}

#home .search p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0.35rem;
}

#home .search input {
  width: 672px;
  height: 42px;
  max-width: 70%;
  border: 2px solid #767676;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 4.5rem;
  padding: 0.25rem;
}

#home .search .techs {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 511px;
  height: max-content;
  margin-bottom: 4.5rem;
}

#home .search .techs span {
  height: 30px;
  padding: 6px 10px;
  border: 1px solid #a7a7a7;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

#home .search .urgency {
  gap: 1rem;
  max-width: 149px;
  display: flex;
  flex-direction: column;
  margin: 0.85rem 0;
}

#home .search .urgency span {
  width: max-content;
  height: 30px;
  padding: 6px 10px;
  border: 1px solid #a7a7a7;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

#home .search .search-button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0 2rem;
  height: 2rem;
  width: 320px;
  height: 58px;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  background-color: #fff;
}
