.nav {
  color: #fff;
  background-color: #2b2b3b;
}

.nav-title {
  font-size: 2.25rem;
  font-weight: 600;
}

.nav-items {
  font-size: 1.125rem;
  font-weight: 400;
}

#nav-username {
  color: #f9a826;
}
